.App {
  text-align: center;
  background: linear-gradient(0deg, #00397a, #40bfea);
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

select {
  font-size: 1.5em;
  padding: 10px;
}

h5 {
  font-weight: 100;
  margin-bottom: 2px;
}

h3 {
  font-weight: 100;
  font-size: large;
}

h2 {
  font-weight: 100;
  font-size: x-large;
}

.flex-container-outer > div {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.flex-container-outer > div:first-child {
  border-top: none;
}

.algorithm-label {
  font-size: 1.5em;
  vertical-align: middle;
}

.flex-container-outer {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.flexcontainer-keygen {
  display: flex;
  flex-direction: column;
}

.flexcontainer-keypair {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.flexcontainer-key {
  display: flex;
  flex-direction: column;
}

.flexcontainer-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexcontainer-sign-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flexcontainer-sign-output {
  display: flex;
  flex-direction: column;
}

.sign-button, .verify-button {
  margin-top: 24px;
}

.flexcontainer-verify {
  display: flex;
  flex-direction: column;
}

.flexcontainer-verify-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

button {
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  border: 1px solid #5c9dff;
  background-color: white;
}

button:hover {
  background-color: #cde9ff;
  border: 1px solid white;
}

button:active {
  background-color: #88c0ff;
  transform: scale(0.96);
}

textarea {
  resize: none;
  border: 1px solid #1075e0;
  border-radius: 4px;
  background-color: rgb(193, 223, 255);
}

.copyable {
  margin-bottom: 4px;
}

.verified-bool {
  font-size: xx-large;
}